body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .icon {
    font-size: 4rem;
  }

  .emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 10px;
    grid-template-areas: 
    "smile beer"
    "tears seed"
  }
  .emojis div:nth-child(1) {
    grid-area: smile;
  }

  .emojis div:nth-child(2) {
    grid-area: beer;
  }

  .emojis div:nth-child(3) {
    grid-area: tears;
  }

  .emojis div:nth-child(4) {
    grid-area: seed;
  }

  .emoji{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .emoji h2 {
    order: 2;
  }

  .icon{
    align-self: center;
    order :1;
  }

  .emoji p {
    order: 3;
    flex-grow: 1;
  }

  .emoji a {
    order: 4;
    text-align: left;
  }